.landingpage_header_logo {
    font-family: 'Comfortaa', serif;
    font-size: 48px;
}

.landingpage_footer_logo {
    font-family: 'Comfortaa', serif;
    text-align: center;
    margin-top: 2rem 0;
}